body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#boo {
  font-size: 80pt;
}

#btn {
  width: 200px;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 30px;
}
